<launch>
    <arg name="manager_name" default="concat_filter_nodelet_manager"/>

    <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="concat_filter_nodelet" args="load velodyne_concat_filter/ConcatFilter $(arg manager_name)"/>
</launch>